





<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Card</title>
    <link rel="stylesheet" href="/css/style.css">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
</head>
<body>
  <div class="topnav">
    <a  href="/">Home</a>
    <a  href="/create">Create Account</a>
    <a  href="/login">Login</a>
    <a class ="active" href="/addCard">Add Card</a>

  </div>
  <div class="container mt-3">
   <h3 class="text-center">Thêm mới học sinh</h3>
   <form action="/add-card-result" method="post">
       <label for="name">Tên Card</label>
       <input type="text" name="name" class="form-control">
       <label for="SL">Số Lượng</label>
       <input type="text" name="SL" class="form-control">
       <label for="class">Gía bán</label>
       <input type="text" name="GB" class="form-control">
       <label for="class">HinhAnh</label>
       <input type="text" name="HA" class="form-control">
       <input type="submit" value="Thêm mới" class="btn btn-primary mt-2"> <br>
       <a href="/">Quay lại?</a>
   </form>
  </div>
</body>
</html>