<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
  
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Account</a>
        <a href="/login"> Login</a>
        <a href="/add-Card"> AddCard</a>

      </div>
      <!-- <div class="form">
        <form action="/create-users" method="POST">
        <fieldset>
            <legend>
                NEW USERS
            </legend>
        <div class="input-group">
            <label for="">Email</label>
            <input type="text"name = "email"/>
        </div>
        <div class="input-group">
            <label for="">name</label>
            <input type="text" name = "myname"/>
        </div>
        <div class="input-group">
            <label for="">city</label>
            <input type="text" name = "city"/>
        </div>
        <div class="button-save">
            <button>save</button>
        </div>
    </fieldset>
</form>
      </div> -->
</body>
</html>